.vs/
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vscode/
*.dbmdl
*.log
*.vshost.*
TestResults/
*.ncrunch*
*.ndoc*
*.resharper*
*.DotSettings.user
appsettings.Development.json
launchSettings.json
